
<div class="menu-nav glass-effect">
    <nav>
        <ul class="menu-nav-list">
            <li><button id="workspaces" type="button">Workspaces</button></li>
            <li><button id="my-workspace" type="button">My Workspace</button></li>
        </ul>
    </nav>
</div>
