
<div class="menu-nav glass-effect">
    <nav>
        <ul class="menu-nav-list">
            <li><button id="workspaces" type="button">Workplaces</button></li>
            <li><button id="my-workspace" type="button">My Workplaces</button></li>
        </ul>
    </nav>
</div>
