@model HotDesk.Models.AuthModels.LoginModel



<h2>Hello, @ViewData["name"] !</h2>
<p>@ViewData["role"]</p>

@using (Html.BeginForm("Logout", "DeskAuthorization"))
{
<button type="submit">Sign out</button>
}


