@model HotDesk.Models.DbModels.Role


<div class="action-overlay"></div>
<div class="login-section">
    <span class="cross close-cross" type="button"></span>
    <form method="post" id="add-role-form">
        @Html.AntiForgeryToken()
        <div class="login-section-item">
            <div class="login-section-item-label">
                @Html.LabelFor(m => m.RoleName)
            </div>
            <div>
                @Html.EditorFor(m => m.RoleName)
                @Html.ValidationMessageFor(m => m.RoleName)
            </div>
        </div>

        <div class="login-button">
            <button id="add-role" type="button">Add</button>
        </div>

    </form>
</div>