<div class="action-overlay"></div>
<div class="login-section">
    <span class="cross close-cross" type="button"></span>
    <div class="confirm-question"><h2>Are you sure?</h2></div>
    <div class="confirm-btn">
        <button type="button" class="delete-agree">Yes</button>
    </div>
    <div class="confirm-btn">
        <button type="button" class="delete-fail">No</button>
    </div>
</div>